<template>
  <v-container pa-0 fluid fill-height>
    <v-layout column>
      <v-flex ref="messageContainer" class="scroll" xs12>
        <ul class="message-list">
          <message
            v-for="(message, index) in messages"
            :key="index"
            :message="message"
          />
        </ul>
      </v-flex>
      <div class="blur" xs12></div>
    </v-layout>

    <div class="message-footer">
      <v-textarea
        class="message-text-area"
        placeholder="Type a new message"
        v-model="messageText"
        background-color="blue-grey lighten-5"
        color="cyan darken-1"
        append-icon="send"
        @click:append="onSend"
        rows="2"
        row-height="20"
        solo
        filled
        single-line
        auto-grow
        hide-details
        rounded
      ></v-textarea>
    </div>
  </v-container>
</template>

<script>
import Message from './Message.vue';
import { mapGetters } from 'vuex';
export default {
  name: 'Messages',
  components: {
    Message,
  },
  mounted() {
    this.$store
      .dispatch('onMessages', this.id)
      .then((ref) => (this.msgRef = ref));

    if (this.user) {
      const usernames = Object.keys(this.chats[this.id].userIds)
        .filter((id) => this.user.id !== id)
        .map((id) => this.contacts[id].username)
        .join();
      this.$store.dispatch('setTitle', usernames);
    }

    this.scrollToBottom();
  },
  computed: {
    ...mapGetters(['user', 'chats', 'contacts']),
    messages() {
      const messages = this.$store.getters.messages[this.id];
      return messages ? messages : [];
    },
  },
  data() {
    return {
      id: this.$route.params.id,
      usernames: this.$route.params.usernames,
      messageText: '',
    };
  },
  methods: {
    /**
     * Scrolls to the bottom of the component exposing the last recieved message.
     */
    scrollToBottom() {
      this.$nextTick(() => {
        const messageContainer = this.$refs.messageContainer;
        messageContainer.scrollTop = messageContainer.scrollHeight;
      });
    },
    /**
     * Sends a new message
     */
    onSend() {
      if (this.messageText) {
        const { id } = this.user;
        const newMessage = {
          from: id,
          timestamp: new Date().getTime(),
          text: this.messageText,
        };
        this.$store.dispatch('sendMessage', { chatId: this.id, newMessage });
        this.messageText = '';
      }
    },
  },
  watch: {
    /**
     * Watches the $route params and updates the local id.
     */
    $route(to) {
      this.id = to.params.id;
    },
    /**
     * Watches the messages to execute the scroll to the bottom of the component.
     */
    messages: {
      deep: true,
      handler() {
        this.scrollToBottom();
      },
    },
  },
  destroyed() {
    if (this.msgRef) {
      this.msgRef.off();
      this.msgRef = null;
    }
  },
};
</script>

<style scoped>
.scroll {
  max-height: 86vh;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #90a4ae;
}

.message-list {
  width: 100%;
  list-style: none;
  padding: 10px 5px 25px 5px;
}

.message-footer {
  padding: 10px;
  background: transparent;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.blur {
  width: 100%;
  height: 40px;
  background: rgba(224, 247, 250, 0.2);
}

li:last-child {
  padding-bottom: 20px !important;
}
</style>
