<template>
  <li>
    <div>
      <div class="message" :class="messageStyle">
        <v-avatar v-if="!isFromMe" size="35">
          <v-img :src="avatar"></v-img>
        </v-avatar>

        <div class="message-card" :class="cardStyle">
          <div class="message-text">
            <span>{{ message.text }}</span>
          </div>
        </div>
        <v-avatar v-if="isFromMe" size="35">
          <v-img :src="avatar"></v-img>
        </v-avatar>
      </div>

      <div class="message-date">
        <span class="caption font-weight-light blue-grey--text text--lighten-1">
          {{ new Date(message.timestamp).toLocaleTimeString() }}
        </span>
      </div>
    </div>
  </li>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  props: ['message'],
  computed: {
    ...mapGetters(['user', 'contacts']),
    username() {
      if (this.isFromMe) {
        return this.user.username;
      } else {
        const uid = this.message.from;
        return this.contacts[uid].username;
      }
    },
    isFromMe() {
      return this.message.from === this.user.id;
    },
    cardStyle() {
      return {
        me: this.isFromMe,
        them: !this.isFromMe,
      };
    },
    messageStyle() {
      return { right: this.isFromMe };
    },
    avatar() {
      if (this.isFromMe) {
        return this.user.avatar;
      } else {
        const fromId = this.message.from;
        return this.contacts[fromId].avatar;
      }
    },
  },
};
</script>

<style scoped>
.message {
  width: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
}

.message-date {
  width: 100%;
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #80deea;
}

.message-card {
  max-width: 80%;
  border-radius: 30px;
  margin: 5px;
  padding: 8px;
}

.right {
  justify-content: flex-end;
}

.me {
  border-bottom-right-radius: 2px;
  background: #00acc1;
  color: white;
}

.them {
  border-bottom-left-radius: 2px;
  background: #cfd8dc;
  color: #263238;
}
</style>
