<template>
  <v-navigation-drawer :value="open" disable-resize-watcher absolute app>
    <v-btn color="cyan darken-1" @click="$emit('close')" text icon>
      <v-icon>close</v-icon>
    </v-btn>

    <nav-drawer-toolbar />
    <v-divider class="mt-3" />
    <v-list class="mt-3">
      <v-list-item
        v-for="(link, index) in links"
        :key="index"
        @click="navTo(link.route)"
      >
        <v-list-item-action>
          <v-icon color="cyan darken-1">{{ link.icon }}</v-icon>
        </v-list-item-action>

        <v-list-item-content>
          <v-list-item-title
            class="subheading cyan--text text--darken-1 font-weight-bold text-uppercase"
            >{{ link.title }}</v-list-item-title
          >
        </v-list-item-content>
      </v-list-item>
      <v-list-item class="mt-3" @click="$emit('logout')">
        <v-list-item-action>
          <v-icon color="grey">logout</v-icon>
        </v-list-item-action>

        <v-list-item-content>
          <v-list-item-title
            class="subheading grey--text font-weight-bold text-uppercase"
            >Logout</v-list-item-title
          >
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import NavDrawerToolbar from './NavDrawerToolbar.vue';

export default {
  name: 'NavDrawer',
  props: ['open'],
  components: {
    NavDrawerToolbar,
  },
  data() {
    return {
      links: [
        { title: 'Conversations', icon: 'message', route: 'chats' },
        { title: 'Contacts', icon: 'people', route: 'contacts' },
      ],
    };
  },
  methods: {
    /**
     * Navigates the router to the provided route name.
     */
    navTo(name) {
      if (this.$route.name !== name) {
        this.$router.push({ name });
      }
      this.$emit('close');
    },
  },
};
</script>
