<template>
  <div class="mt-2">
    <v-avatar class="ml-5" size="200">
      <img :src="avatar" />
    </v-avatar>
    <v-list>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title
            class="cyan--text text--darken-1 font-weight-bold"
            >{{ username }}</v-list-item-title
          >
          <v-list-item-subtitle class="font-weight-light">{{
            email
          }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'NavDrawerToolbar',
  computed: {
    ...mapGetters(['user']),
    username() {
      if (this.user) {
        return this.user.username;
      }
      return '';
    },
    email() {
      if (this.user) {
        return this.user.email;
      }
      return '';
    },
    avatar() {
      if (this.user) {
        return this.user.avatar;
      }
      return '';
    },
  },
};
</script>
