<template>
  <div>
    <v-list single-line style="position: relative">
      <template v-for="(chat, index) in chats">
        <v-list-item
          class="pa-2"
          :key="index"
          @click="navToMessages(index)"
          v-if="chat"
        >
          <v-layout column>
            <v-layout pl-2 align-end justify-space-between row>
              <span class="body-1 blue-grey--text text--lighten-1">{{
                mapToUsernames(chat)
              }}</span>

              <div>
                <v-icon color="cyan lighten-2" medium v-if="chat.hasNew"
                  >fiber_new</v-icon
                >
                <span
                  class="caption ml-2 mr-5 font-weight-light blue-grey--text text--lighten-1"
                  >{{ mapToDate(chat) }}
                </span>
              </div>
            </v-layout>
            <v-layout pl-2row>
              <span
                class="caption font-weight-light blue-grey--text text--lighten-1"
                >{{ mapToFromText(chat) }}</span
              >
            </v-layout>
          </v-layout>
        </v-list-item>
        <v-divider :key="'d' + index" />
      </template>
    </v-list>
    <new-chat-dialog fixed bottom right medium />
  </div>
</template>

<script>
import NewChatDialog from './NewChatDialog.vue';
import { mapGetters } from 'vuex';
export default {
  name: 'ChatList',
  components: {
    NewChatDialog,
  },
  mounted() {
    this.$store.dispatch('setTitle', 'Conversations');
  },
  computed: {
    ...mapGetters(['user', 'chats', 'contacts']),
    messageQueue() {
      const notifications = this.$store.getters.notifications;
      return notifications.filter((notif) => notif.type === 'message');
    },
  },
  methods: {
    /**
     * Navigates to the messages component.F
     */
    navToMessages(id) {
      this.chats[id].hasNew = false;
      const usernames = this.mapToUsernames(this.chats[id]);

      this.$router.push({
        name: 'messages',
        params: { id, usernames },
      });
    },
    /**
     * Maps a list of user ids to their corresponding usernames as a string separated by ','.
     * @returns {String} A list of usernames separated by ','.
     */
    mapToUsernames(chat) {
      if (chat && this.user) {
        return Object.keys(chat.userIds)
          .filter((id) => this.user.id !== id)
          .map((id) => this.contacts[id].username)
          .join();
      }
      return '';
    },
    /**
     * Maps the from id and message text to a string representing the last message in the chat.
     * @returns {String} A representation of the last message sent in the chat.
     */
    mapToFromText(chat) {
      const getFrom = (fromId, userId) => {
        if (fromId === userId) {
          return 'You';
        }
        return this.contacts[chat.from].username;
      };

      if (chat) {
        const from = getFrom(chat.from, this.user.id);
        let text = `${from}: ${chat.lastMessage}`;

        const subStr = text.substring(0, 45);
        if (text.length >= 45) {
          return `${subStr}...`;
        }
        return subStr;
      }

      return '';
    },
    /**
     * Maps the time of the last sent message to a readable string.
     * @returns {String} The mapped date string.
     */
    mapToDate(chat) {
      if (chat.lastTimestamp) {
        return new Date(chat.lastTimestamp).toLocaleTimeString();
      }
      return '';
    },
  },
  watch: {
    user: {
      immediate: true,
      handler(user) {
        if (user) {
          this.$store
            .dispatch('onChats', user.id)
            .then((ref) => (this.chatRefs = ref));
        } else if (this.chatRef) {
          this.chatRef.off();
          this.chatRef = null;
        }
      },
    },
    messageQueue: {
      immediate: true,
      handler(val) {
        if (val.length > 0) {
          const list = [...val];
          const message = list.pop();

          if (this.$route.name !== 'messages') {
            this.chats[message.data.chatId].hasNew = true;
            this.$forceUpdate();
          }
        }
      },
    },
  },
  destroyed() {
    if (this.chatRef) {
      this.chatRef.off();
      this.chatRef = null;
    }
  },
};
</script>
