<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" width="500px">
      <template v-slot:activator="{ on }">
        <v-btn
          v-on="on"
          color="cyan darken-1"
          :absolute="fixed"
          :medium="medium"
          :bottom="bottom"
          :right="right"
          :small="small"
          dark
          fab
        >
          <v-icon>message</v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="headline cyan--text text--darken-2"
          >New Message</v-card-title
        >

        <v-card-text>
          <v-combobox
            v-model="select"
            :items="items"
            color="cyan darken-1"
            item-text="username"
            item-value="id"
            label="To"
            multiple
            return-object
            chips
          >
            <template v-slot:selection="data">
              <v-chip
                :key="data.item.username"
                :input-value="data.selected"
                :disabled="data.disabled"
                class="v-chip--select-multi"
                @input="data.parent.selectItem(data.item)"
              >
                <v-avatar class="accent white--text">
                  <img :src="data.item.avatar" />
                </v-avatar>
                {{ data.item.username }}
              </v-chip>
            </template>
          </v-combobox>
        </v-card-text>

        <v-card-actions>
          <v-textarea
            color="cyan darken-1"
            background-color="white"
            rows="1"
            append-icon="send"
            v-model="messageText"
            @click:append="sendMessage"
            solo
            filled
            single-line
            auto-grow
            hide-details
            rounded
          ></v-textarea>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'NewChatDialog',
  props: ['fixed', 'medium', 'small', 'bottom', 'right', 'contactId'],
  computed: {
    ...mapGetters(['user', 'contacts', 'chats']),
    items() {
      return Object.entries(this.contacts).map(([key, value]) => {
        return { id: key, ...value };
      });
    },
  },
  data() {
    return {
      dialog: false,
      select: [],
      messageText: '',
    };
  },
  methods: {
    sendMessage() {
      const getChatId = () => {
        try {
          return this.$store.dispatch('getActiveChat', userIds);
        } catch (err) {
          return this.$store.dispatch('createChat', userIds);
        }
      };

      const { id } = this.user;
      const newMessage = {
        from: id,
        timestamp: new Date().getTime(),
        text: this.messageText,
      };

      const userIds = this.select.map((user) => user.id);
      userIds.push(this.user.id);

      return getChatId().then((chatId) => {
        return this.$store
          .dispatch('sendMessage', { chatId, newMessage })
          .then(() => {
            this.messageText = '';

            this.$router.push({
              name: 'messages',
              params: { id: chatId },
            });
          });
      });
    },
  },
  created() {
    const contact = this.contacts[this.contactId];
    if (contact) {
      this.select.push(contact);
    }
  },
};
</script>

<style scoped>
.spacer {
  height: 10vh;
}
</style>
