<template>
  <v-app id="app">
    <v-container>
      <v-layout
        row
        wrap
        justify-center
        :class="{ app: $vuetify.breakpoint.smAndUp }"
        class="cyan--text text--darken-1  pa-5"
        v-if="isBusy"
      >
        <v-progress-circular value="20" indeterminate></v-progress-circular>
      </v-layout>
      <div class="wrapper" v-else>
        <contact-request-bar
          v-for="(request, index) in contactRequests"
          :key="index"
          :request="request"
        />
        <new-message-bar
          v-for="(request, index) in messageQueue"
          :key="index"
          :request="request"
        />
        <app-toolbar @nav="drawerOpen = !drawerOpen" />
        <app-nav-drawer
          :open="drawerOpen"
          @close="drawerOpen = !drawerOpen"
          @logout="onLogout(localStorage)"
        />
        <v-content>
          <router-view :key="$route.fullPath"></router-view>
          <error-message class="errorMessage" />
        </v-content>
      </div>
    </v-container>
  </v-app>
</template>

<script>
import AppToolbar from './AppToolbar.vue';
import AppNavDrawer from './navdrawer/AppNavDrawer.vue';
import ErrorMessage from '../ErrorMessage.vue';
import ContactRequestBar from '../notifications/ContactRequestBar.vue';
import NewMessageBar from '../notifications/NewMessageBar.vue';

import { mapGetters } from 'vuex';

export default {
  name: 'App',
  components: {
    AppToolbar,
    AppNavDrawer,
    ErrorMessage,
    ContactRequestBar,
    NewMessageBar,
  },
  computed: {
    ...mapGetters(['user', 'isBusy']),
    contactRequests() {
      const notifications = this.$store.getters.notifications;
      return notifications.filter((notif) => notif.type === 'contact');
    },
    messageQueue() {
      const notifications = this.$store.getters.notifications;
      return notifications.filter((notif) => notif.type === 'message');
    },
    localStorage() {
      return window.localStorage;
    },
  },
  data() {
    return {
      drawerOpen: false,
      contactRefs: [],
      notifRef: null,
      userRef: null,
      contactRequest: null,
    };
  },
  methods: {
    /**
     * Logs out and clears app state.
     * @param {Object} localStorage The localStorage instance for storing Vuex state.
     */
    async onLogout(localStorage) {
      await this.$store.dispatch('logout').then(() => {
        this.$router.replace({ name: 'login' });
        this.clearUserReferences();

        return this.$store.dispatch('reset').then(() => {
          localStorage.removeItem('vuex');
          this.drawerOpen = !this.drawerOpen;
          return this.$store.dispatch('initializeApp');
        });
      });
    },
    /**
     * Initializes watchers for Firebase database by dispatching the required actions.
     */
    watchUserReferences() {
      this.$store.dispatch('onContacts', this.user.id).then((ref) => {
        this.contactRefs = ref;
      });

      this.$store.dispatch('onNotifications', this.user.id).then((ref) => {
        this.notifRef = ref;
      });
    },
    /**
     * Clears watchers for Firebase database.
     */
    clearUserReferences() {
      while (this.contactRefs.length > 0) {
        this.contactRefs.pop().off();
      }

      if (this.notifRef) {
        this.notifRef.off();
        this.notifRef = null;
      }
    },
  },
  watch: {
    /**
     * Watches for the user to log in or out to attach or detach Firebase database watchers.
     */
    user(val) {
      if (val) {
        this.watchUserReferences(val.id);
      } else {
        this.clearUserReferences();
      }
    },
  },
  created() {
    document.title = 'Ch@tter App';
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');

#app {
  font-family: 'Roboto';
}

.app {
  width: 1000px;
}

.errorMessage {
  z-index: 100;
  position: fixed;
  bottom: 0;
}
</style>
