<template>
  <div class="ma-3">
    <h1 class="cyan--text text--darken-1 font-weight-bold">Ch@tr</h1>

    <v-form class="pa-1" @submit.prevent="submit">
      <h2 class="text-lowercase title cyan--text text--darken-1 mt-4 mb-2">
        Sign-in
        <span class="text-lowercase subheading">with your email</span>
      </h2>
      <v-layout column>
        <v-flex xs12>
          <v-text-field
            class="mt-4"
            v-model="form.email"
            label="E-mail"
            required
          ></v-text-field>
          <v-text-field
            v-model="form.password"
            label="Password"
            type="password"
            required
          ></v-text-field>
          <div class="text-xs-right">
            <v-btn
              class="rounded mb-2 mt-4"
              color="cyan darken-1"
              type="submit"
              block
              dark
              >Login</v-btn
            >
          </div>
        </v-flex>
      </v-layout>
    </v-form>

    <register @register="onRegister" />
  </div>
</template>

<script>
import Register from '../registration/Register.vue';

export default {
  name: 'AppLoginForm',
  components: {
    Register,
  },
  mounted() {
    this.$store.dispatch('setTitle', 'Chatter');
  },
  data() {
    return {
      form: {
        email: 'eric.panulla@gmail.com',
        password: 'Emp931802',
      },
    };
  },
  methods: {
    /**
     * Submits the login form.
     */
    submit() {
      return this.$store.dispatch('login', this.form).then((id) => {
        return this.$store.dispatch('onUser', id).then((ref) => {
          this.userRef = ref;
          this.$router.replace({ name: 'chats' });
        });
      });
    },
    /**
     * Registers a new account.
     */
    onRegister(evt) {
      return this.$store.dispatch('createAccount', evt).then((id) => {
        return this.$store.dispatch('onUser', id).then((ref) => {
          this.userRef = ref;
          this.$router.replace({ name: 'chats' });
        });
      });
    },
  },
};
</script>

<style scoped>
.rounded {
  border-radius: 15px;
}
</style>
