<template>
  <v-app-bar v-if="enableToolbar" color="cyan darken-1" fixed app dark>
    <v-btn v-if="enableBack" @click="back" icon text>
      <v-icon>arrow_back_ios</v-icon>
    </v-btn>
    <v-layout column>
      <v-toolbar-title class="title">{{ title }} </v-toolbar-title>
      <v-toolbar-title class="body-2">{{ subtitle }}</v-toolbar-title>
    </v-layout>

    <v-spacer></v-spacer>
    <v-btn @click="$emit('nav')" icon text>
      <v-icon>menu</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: {
    ...mapGetters(['title', 'subtitle']),
    enableToolbar() {
      if (this.$route.meta.toolbar) {
        return this.$route.meta.toolbar.enable;
      }
      return false;
    },
    enableBack() {
      if (this.$route.meta.toolbar) {
        return this.$route.meta.toolbar.back.enable;
      }
      return false;
    },
    enableLogout() {
      if (this.$route.meta.toolbar) {
        return this.$route.meta.toolbar.logout.enable;
      }
      return false;
    },
  },
  methods: {
    /**
     * Navigates the router backward.
     */
    back() {
      if (this.enableBack) {
        const toRoute = this.$route.meta.toolbar.back.route;
        this.$router.push({ name: toRoute });
      }
    },
  },
};
</script>

<style scoped></style>
