<template>
  <transition name="fade">
    <div class="error-message pa-3 ma-3" v-if="message">
      <h1 class="title font-weight-bold white--text">
        {{ message.title }}
      </h1>
      <span class="body-1 white--text">{{ message.text }}</span>
    </div>
  </transition>
</template>

<script>
export default {
  computed: {
    message() {
      return this.$store.getters.errorMessage;
    },
  },
};
</script>

<style scoped>
.error-message {
  background-color: rgba(244, 100, 100, 1);
  border-radius: 25px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>