<template>
  <v-snackbar v-model="snackbar" :timeout="timeout" top vertical>
    <v-layout align-center row wrap>
      <v-avatar size="35" class="avatar mr-3">
        <v-img :src="avatar"></v-img>
      </v-avatar>
      <span>{{ username }} has sent you a friend request!</span>
    </v-layout>
    <v-layout align-center justify-space-between row>
      <v-btn color="cyan darken-1" text @click="respond('declined')"
        >Decline</v-btn
      >
      <v-btn color="cyan darken-1" text @click="respond('accepted')"
        >Accept</v-btn
      >
    </v-layout>
  </v-snackbar>
</template>

<script>
export default {
  name: 'ContactRequestBar',
  props: ['request'],
  computed: {
    user() {
      return this.$store.getters.user;
    },
    avatar() {
      if (this.request.data) {
        return this.request.data.from ? this.request.data.from.avatar : '';
      }
      return '';
    },
    username() {
      if (this.request.data) {
        return this.request.data.from ? this.request.data.from.username : '';
      }
      return '';
    },
  },
  data() {
    return {
      snackbar: true,
      timeout: 0,
    };
  },
  methods: {
    /**
     * Sends the friends request response.
     */
    respond(response) {
      this.$emit(response);
      this.snackbar = false;

      return this.$store.dispatch('respondToRequest', {
        userId: this.user.id,
        notifId: this.request.id,
        response,
      });
    },
  },
};
</script>
