<template>
  <v-snackbar v-model="snackbar" :timeout="timeout" top vertical>
    <v-layout pl-4 pb-2 row>
      <v-icon class="mr-1" color="cyan darken-1" small>message</v-icon>
      <div>
        <span class="subheading">{{ username }}</span>
        sent you a message!
      </div>
    </v-layout>
  </v-snackbar>
</template>

<script>
export default {
  name: 'ContactRequestBar',
  props: ['request'],
  computed: {
    user() {
      return this.$store.getters.user;
    },
    contacts() {
      return this.$store.getters.contacts;
    },
    username() {
      return this.request.data.from
        ? this.contacts[this.request.data.from].username
        : '';
    },
  },
  data() {
    return {
      snackbar: true,
      timeout: 3000,
    };
  },
  mounted() {
    this.$store.dispatch('respondToRequest', {
      userId: this.user.id,
      notifId: this.request.id,
      response: 'recieved',
    });
  },
};
</script>