<template>
  <v-expansion-panel>
    <v-expansion-panel-header>
      <v-layout justify-start justify-space-between align-center row>
        <div>
          <v-badge :color="activeColor" bottom overlap v-if="user.isActive">
            <template v-slot:badge>
              <v-icon dark>check</v-icon>
            </template>
            <v-avatar size="35">
              <img class="avatarImage" :src="avatar" alt="avatar" />
            </v-avatar>
          </v-badge>
          <span class="ml-3">{{ username }}</span>
        </div>

        <div>
          <v-layout justify-center align-center column>
            <span class="text-uppercase overline" :class="activeTextClasses">{{
              activeText
            }}</span>
          </v-layout>
        </div>
      </v-layout>
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-layout justify-start justify-space-between align-center>
        <span class="body-2 font-weight-light">{{ email }}</span>
        <v-layout justify-end row>
          <new-chat-dialog :contactId="id" small />
        </v-layout>
      </v-layout>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import NewChatDialog from '../chat/NewChatDialog.vue';

export default {
  name: 'Contact',
  props: ['user'],
  components: {
    NewChatDialog,
  },
  computed: {
    activeTextClasses() {
      return this.user.isActive
        ? 'success--text text--lighten-1'
        : 'error--text text--lighten-1';
    },
    activeColor() {
      return this.user.isActive ? 'success lighten-1' : 'error lighten-1';
    },
    activeText() {
      return this.user.isActive ? 'Active' : 'Inactive';
    },
    avatar() {
      return this.user.avatar;
    },
    username() {
      return this.user.username;
    },
    email() {
      return this.user.email;
    },
    id() {
      return this.user.id;
    },
  },
  data() {
    return {
      isSelected: false,
    };
  },
};
</script>

<style scoped>
.avatarImage {
  height: 45px;
  width: 45px;
}

.slide-fade-enter-active {
  transition: all 0.4s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
