<template>
  <div>
    <new-contact-dialog />

    <v-expansion-panels>
      <contact
        v-for="(contact, index) in contacts"
        :key="index"
        :user="contact"
      ></contact>
    </v-expansion-panels>
  </div>
</template>

<script>
import Contact from './Contact.vue';
import NewContactDialog from './NewContactDialog.vue';

import { mapGetters } from 'vuex';

export default {
  name: 'Contacts',
  components: {
    Contact,
    NewContactDialog,
  },
  mounted() {
    this.$store.dispatch('setTitle', 'Contacts');
  },
  computed: { ...mapGetters(['contacts']) },
};
</script>
