<template>
  <v-dialog v-model="dialog">
    <template v-slot:activator="{ on }">
      <v-layout justify-center>
        <v-btn class="ma-3" color="cyan darken-1" @click="dialog = true" dark>
          <v-icon>add</v-icon>
          <span>New Contact</span>
        </v-btn>
      </v-layout>
    </template>

    <v-card>
      <v-toolbar color="cyan darken-1" text dark>
        <v-card-title class="title font-weight-regular">
          <span>Request Contact</span>
        </v-card-title>
        <v-spacer />
        <v-btn @click="cancel" icon text>
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>

      <v-card-text>
        <v-autocomplete
          v-model="select"
          :items="users"
          filled
          chips
          label="Select"
          item-text="username"
          item-value="id"
        >
          <template v-slot:selection="data">
            <v-chip :input-value="data.selected" @input="remove(data.item)">
              <v-avatar>
                <img :src="data.item.avatar" />
              </v-avatar>
              {{ data.item.username }}
            </v-chip>
          </template>
          <template v-slot:item="data">
            <v-list-item-avatar>
              <img :src="data.item.avatar" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title
                v-html="data.item.username"
              ></v-list-item-title>
              <v-list-item-subtitle
                v-html="data.item.email"
              ></v-list-item-subtitle>
            </v-list-item-content>
          </template>
        </v-autocomplete>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn color="cyan darken-1" @click="submitRequest" dark
          >Submit Request</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'NewContactDialog',
  computed: { ...mapGetters(['user']) },
  data() {
    return {
      users: [],
      select: null,
      dialog: false,
    };
  },
  methods: {
    /**
     * Cancels the dialog.
     */
    cancel() {
      this.dialog = false;
    },
    /**
     * Submits the new contact request.
     */
    submitRequest() {
      return this.$store
        .dispatch('requestContact', this.select)
        .then(() => (this.dialog = false));
    },
    /**
     * Retrieves the possible user list.
     */
    getUsers() {
      return this.$store.dispatch('getUsers').then((users) => {
        this.users = users.filter((u) => u.id !== this.user.id);
      });
    },
  },
  /**
   * Executed when the component is mounted.
   *
   */
  mounted() {
    this.getUsers();
  },
};
</script>
