<template>
  <div>
    <v-flex xs12>
      <p class="font-weight-light subheading pt-3 pl-3">
        Choose an avatar!
      </p>
    </v-flex>
    <v-container overflow-y-auto v-bind="{ ['grid-list-md']: true }" fluid>
      <v-layout wrap>
        <v-flex
          class="pr-5"
          v-for="(avatar, index) in avatars"
          :key="index"
          xs3
        >
          <v-card flat tile>
            <v-avatar size="60" @click="onSelected(index)">
              <v-img
                :class="selected === index ? 'selected' : 'unselected'"
                :src="avatar"
              ></v-img>
            </v-avatar>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'Avatar',
  computed: {
    app() {
      return this.$store.getters.app;
    },
    valid() {
      const value = this.avatars[this.selected];
      return typeof value !== undefined && value !== null;
    },
  },
  data() {
    return {
      avatars: {},
      selected: null,
    };
  },
  methods: {
    /**
     * Fired on selection of an avatar.
     */
    onSelected(index) {
      this.selected = index;
      const value = this.avatars[this.selected];
      this.$emit('validate', { value, valid: this.valid });
    },
    /**
     * Loads the available avatars.
     */
    loadAvatars() {
      if (this.app) {
        this.avatarRef = this.app
          .database()
          .ref('avatars')
          .orderByKey();
        this.avatarRef.on('child_added', (avatarSnap) => {
          this.avatars[avatarSnap.key] = avatarSnap.val();
          this.$forceUpdate();
        });
      }
    },
  },
  mounted() {
    this.loadAvatars();
  },
  destroyed() {
    if (this.avatarRef) {
      this.avatarRef.off();
      this.avatarRef = null;
    }
  },
};
</script>

<style scoped>
.selected {
  opacity: 1;
  border-radius: 50%;
  border: 3px dashed #00acc1;
}

.unselected {
  opacity: 0.5;
}
</style>
