<template>
  <v-card-text>
    <v-text-field
      label="Email"
      v-model="email"
      color="cyan darken-1"
      :blur="onBlur(valid, email)"
      :rules="[rules.required, rules.format]"
      :prepend-icon="valid ? 'check_circle_outline' : 'alternate_email'"
      :success="valid"
    ></v-text-field>
    <span class="caption grey--text text--darken-1">
      This is the email you will use to login
    </span>
  </v-card-text>
</template>

<script>
export default {
  name: 'Email',
  computed: {
    valid() {
      return (
        this.validateEmail(this.email) && this.validateRequired(this.email)
      );
    },
  },
  data() {
    return {
      email: '',
      rules: {
        required: (v) => this.validateRequired(v) || 'Required.',
        format: (v) => this.validateEmail(v) || 'Please enter a valid email',
      },
    };
  },
  methods: {
    /**
     * Executes field validation on blur.
     */
    onBlur(valid, email) {
      const value = email;
      this.$emit('validate', { value, valid });
    },
    /**
     * Validates the email entered.
     */
    validateEmail() {
      // format is ___ @ ___ . ___
      return /\S+@\S+\.\S+/.test(this.email);
    },
    /**
     * Validates that the field has a value.
     */
    validateRequired(value) {
      return !!value;
    },
  },
};
</script>
