<template>
  <v-card-text>
    <v-container>
      <v-text-field
        label="Password"
        v-model="password"
        color="cyan darken-1"
        :type="inputType"
        :rules="[rules.required, rules.format, rules.min]"
        :prepend-icon="validPassword ? 'lock' : 'lock_open'"
        :success="validPassword"
      ></v-text-field>
      <v-text-field
        label="Confirm Password"
        v-model="confirmPassword"
        color="cyan darken-1"
        :type="inputType"
        :rules="[rules.required, rules.format, rules.min, rules.match]"
        :prepend-icon="valid ? 'check_circle_outline' : 'lock_open'"
        :success="valid ? true : false"
      ></v-text-field>
      <v-layout align-center justify-end>
        <v-switch
          class="pa-0 ma-0"
          color="cyan darken-1"
          v-model="reveal"
          label="Show"
        ></v-switch>
      </v-layout>

      <p class="font-weight-light subheading">
        Your password must meet the following requirements:
      </p>
      <ul class="pb-3">
        <li>6-18 characters in length</li>
        <li>At least 1 number.</li>
        <li>At least 1 capital and 1 lowercase letter</li>
      </ul>
    </v-container>
  </v-card-text>
</template>

<script>
export default {
  name: 'Password',
  computed: {
    valid() {
      return this.validPassword && this.validConfirm && this.validMatch;
    },
    validPassword() {
      return (
        this.validatePassword(this.password) &&
        this.validateRequired(this.password) &&
        this.validateMin(this.password)
      );
    },
    validConfirm() {
      return (
        this.validatePassword(this.confirmPassword) &&
        this.validateRequired(this.confirmPassword) &&
        this.validateMin(this.confirmPassword)
      );
    },
    validMatch() {
      return this.validateMatch(this.password, this.confirmPassword);
    },
    inputType() {
      return this.reveal ? 'text' : 'password';
    },
  },
  data() {
    return {
      reveal: false,
      password: '',
      confirmPassword: '',
      rules: {
        required: (v) => this.validateRequired(v) || 'Required.',
        min: (v) =>
          this.validateMin(v) || 'Min length: 6 char, Max length: 16 char',
        format: (v) =>
          this.validatePassword(v) || 'Please enter a valid password',
        match: () =>
          this.validateMatch(this.password, this.confirmPassword) ||
          'Passwords must match!',
      },
    };
  },
  methods: {
    emitValidation(valid) {
      const value = this.password;
      this.$emit('validate', { value, valid });
    },
    validatePassword(value) {
      // contains at least 1 digits
      // contains at least 1 lowercase character
      // cantains at least 1 uppsercase character
      return /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/.test(value);
    },
    validateRequired(value) {
      return !!value;
    },
    validateMatch(val1, val2) {
      return val1 === val2;
    },
    validateMin(val) {
      return val.length > 6 && val.length < 16;
    },
  },
  watch: {
    valid: {
      immediate: true,
      handler(val) {
        this.emitValidation(val);
      },
    },
  },
};
</script>
