<template>
  <div class="pr-1 pl-1">
    <v-dialog v-model="dialog">
      <template v-slot:activator="{ on }">
        <v-btn
          class="rounded"
          color="cyan darken-1"
          @click="dialog = true"
          block
          dark
        >
          <span>Create Account</span>
        </v-btn>
      </template>

      <v-card class="mx-auto">
        <v-toolbar color="cyan darken-1" text dark>
          <v-avatar
            color="cyan lighten-2"
            class="mr-2 subheading white--text"
            size="24"
            v-text="step"
          ></v-avatar>
          <v-card-title class="title font-weight-regular">
            <span>Create Account</span>
          </v-card-title>
          <v-spacer />
          <v-btn @click="cancel" icon text>
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-form @submit.prevent="register">
          <v-window v-model="step">
            <v-window-item :value="1">
              <username
                ref="username"
                @validate="onValidate('username', $event)"
              />
            </v-window-item>
            <v-window-item :value="2">
              <email
                ref="email"
                :email="form.email"
                @validate="onValidate('email', $event)"
              />
            </v-window-item>
            <v-window-item :value="3">
              <password
                ref="password"
                @validate="onValidate('password', $event)"
              />
            </v-window-item>
            <v-window-item :value="4">
              <avatar ref="avatar" @validate="onValidate('avatar', $event)" />
            </v-window-item>
            <v-window-item :value="5">
              <review-account ref="review" :form="form" />
            </v-window-item>
          </v-window>
          <v-divider></v-divider>

          <v-card-actions>
            <v-btn @click="back" text :disabled="step <= 1">
              Back
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="cyan darken-1" @click="next" :disabled="!valid" dark>
              {{ nextBtnText }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Username from './Username.vue';
import Email from './Email.vue';
import Password from './Password.vue';
import Avatar from './Avatar.vue';
import ReviewAccount from './ReviewAccount.vue';

export default {
  name: 'Register',
  components: {
    Username,
    Email,
    Password,
    Avatar,
    ReviewAccount,
  },
  computed: {
    nextBtnText() {
      return this.step <= 4 ? 'Next' : 'Sign-In';
    },
  },
  data() {
    return {
      dialog: false,
      step: 1,
      valid: false,
      form: {
        username: '',
        email: '',
        password: '',
        avatar: '',
      },
    };
  },
  methods: {
    onValidate(fieldName, $event) {
      this.valid = $event.valid;
      this.form[fieldName] = $event.value.trim();
    },
    /**
     * Steps to the next input screen.
     */
    next() {
      if (this.step === 5) {
        this.submit();
      }

      if (this.step === 4) {
        this.valid = true;
        this.step++;
      }

      if (this.step < 4) {
        this.valid = false;
        this.step++;
      }
    },
    /**
     * Returns to the previous step.
     */
    back() {
      this.step--;
      this.valid = true;
    },
    /**
     * Cancels the dialog.
     */
    cancel() {
      this.step = 1;
      this.valid = false;
      this.dialog = false;
    },
    /**
     * Submits the form.
     */
    submit() {
      this.$emit('register', this.form);
      this.step = 1;
      this.dialog = false;
    },
  },
};
</script>

<style scoped>
.rounded {
  border-radius: 15px;
}
</style>
