<template>
  <v-card-text>
    <v-layout justify-center>
      <v-avatar size="128" @click="selected = index">
        <v-img :src="form.avatar"></v-img>
      </v-avatar>
    </v-layout>

    <v-flex mb-3 x12>
      <span class="title pa-3">{{ form.username }}</span>
    </v-flex>
    <v-flex mb-3 xs12>
      <span class="title pa-3">{{ form.email }}</span>
    </v-flex>
  </v-card-text>
</template>

<script>
export default {
  name: 'ReviewAccount',
  props: ['form'],
};
</script>
