<template>
  <div>
    <v-card-text>
      <v-text-field
        label="Username"
        v-model="username"
        color="cyan darken-1"
        :blur="emitValidation(valid, username)"
        :rules="[rules.required, rules.min, rules.noSymbols]"
        :prepend-icon="valid ? 'check_circle_outline' : 'person'"
        :success="valid"
      ></v-text-field>
      <span class="caption grey--text text--darken-1">
        This is the name everyone will know you by
      </span>
    </v-card-text>
  </div>
</template>

<script>
export default {
  name: 'Username',
  computed: {
    valid() {
      return (
        this.validateUsername(this.username) &&
        this.validateLength(this.username) &&
        this.validateRequired(this.username)
      );
    },
  },
  data() {
    return {
      username: '',
      rules: {
        required: (v) => this.validateRequired(v) || 'Required.',
        min: (v) => this.validateLength(v) || 'Min 4 characters',
        noSymbols: (v) =>
          this.validateUsername(v) || 'Only letters, numbers, or underscores',
      },
    };
  },
  methods: {
    emitValidation(valid, username) {
      const value = username;
      this.$emit('validate', { value, valid });
    },
    validateUsername(value) {
      // contains only Letters, Numbers, Underscores
      return /^[a-zA-Z0-9_.-]*$/.test(value);
    },
    validateLength(value) {
      return value.length >= 4;
    },
    validateRequired(value) {
      return !!value;
    },
  },
};
</script>

<style scoped>
</style>